name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Fetch all history for all tags and branches

      - name: Print latest tag
        run: git describe --tags --abbrev=0

      - name: Get latest tag
        id: get_tag
        run: |
          TAG=$(git describe --tags --abbrev=0)
          echo "::set-output name=tag::${TAG#v}"

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ vars.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ${{ vars.DOCKER_USERNAME }}/discord-bot:${{ steps.get_tag.outputs.tag }} .

      - name: Push Docker image
        run: |
          docker push ${{ vars.DOCKER_USERNAME }}/discord-bot:${{ steps.get_tag.outputs.tag }}

      - name: Notify watchtower
        run: |
          curl -X POST "${{vars.SERVER_URL}}/watchtower/v1/update" -H "Authorization: Bearer ${{ secrets.WATCHTOWER_TOKEN }}"
